.jumbotron-fluid{
  padding: 0;
  text-align: center;
  color: white;
  background-color: rgb(66, 66, 66);
  margin-bottom: 0px;
}

#jumboContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

#fiveDay {
  float: inline-end;
}

#mainLeft {
  padding-top: 10px;
  background-color: rgb(241, 240, 240);
  height: 100vh
}

#city {
  width: 75%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

#mainRight {
  margin-top: 0px;
  padding-left: 25px;
}

#todayForecast {
  text-align: justify;
}

#currentHeader {
  margin-left: 100px;
}

.uvindex {
  padding: 5px;
}